.container {
  margin: auto;
  max-width: 85%;
  padding-top: 20em;
  padding-bottom: 20em;
}

.progress-wrapper {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;

  .full {
    position: absolute;
    background-color: transparent;
    inset: 0;
    border-radius: 50%;
    border: 1em solid rgba(0, 0, 0, 0.5);
    width: 5em;
    height: 5em;
  }
}
